.footer-container {
  background-color: lightgray;
  bottom: 0;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer-button {
  background-color: transparent;
  border-color: transparent;
  border-radius: 30%;
  margin: 0.2rem;
  padding: 0.2rem;
}

.footer-button:hover {
  background-color: rgb(175, 175, 175);
  border-color: rgb(175, 175, 175);
}

.footer-button:focus {
  background-color: rgb(175, 175, 175);
  border-color: rgb(175, 175, 175);
}
