.header-container {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.header-title {
  margin-top: 8px;
  text-align: center;
}

.header-button {
  background-color: transparent;
  border-color: transparent;
  border-radius: 30%;
  margin: 0.2rem;
}

.profile-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-button:hover {
  background-color: rgb(175, 175, 175);
  border-color: rgb(175, 175, 175);
}

.header-button:focus {
  background-color: rgb(175, 175, 175);
  border-color: rgb(175, 175, 175);
}

.header-input {
  border-color: transparent;
  border-radius: 3%;
  box-shadow: 0px 0.41px 3px 3px rgb(69, 148, 252);
}

.invisible-button {
  width: 55px;
}
