.buttons-container {
  display: flex;
  flex: row;
  justify-content: center;
  margin: 0.6rem;
}

.filter-btn {
  margin: 0.3rem;
  width: 100%;
}

.favor-recipe-container {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex: row;
  height: 7rem;
  margin: 0.9rem;
}

.favor-image-container {
  border-bottom-left-radius: 2%;
  border-top-left-radius: 2%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.text-container {
  margin-left: 0.5rem;
  margin-top: 0.7rem;
}

.recipe-subtitle {
  font-size: 0.8rem;
}

.recipe-name {
  font-size: 1rem;
}

.done-date {
  font-size: 0.7rem;
}

.icons-container {
  display: flex;
  justify-content: space-around;
  margin: 0.3rem 0.3rem 0.3rem 0.6rem;
}

.done-icon {
  cursor: pointer;
  fill: black;
  margin: 0;
  overflow: visible;
  width: 20px;
}

.share:hover {
  fill: blue;
  transform: scale(1.5);
  transition: 1s;
}

.favorite {
  fill: red;
}

.favorite:hover {
  animation: small 1s ease infinite;
}

.heart {
  fill: white;
  stroke: black;
  stroke-width: 1.7px;
}

.heart:hover {
  animation: pulse 1s ease infinite;
}

.arrow:hover {
  animation: rotate 2s ease infinite;
}

.badge-container {
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  margin-left: 0.4rem;
  overflow: hidden;
}

.badge {
  margin: 0 0.1rem;
}

.dark-done {
  background-color: black;
  border-color: black;
}

.dark-done:hover {
  background-color: rgb(63, 60, 60);
  border-color: rgb(63, 60, 60);
}

.cont-dark-done {
  box-shadow: 0 4px 5px 0 rgb(35, 35, 35) , 0 6px 20px 0 rgb(35, 35, 35) ! important;
}

.name-dark-done {
  color: white;
}

.name-dark-done:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.set-dark-done {
  fill: white;
}

.set-dark-done:hover {
  fill: white ! important;
}

.dark-heart {
  fill: transparent;
  stroke: white;
}

.dark-favor {
  fill: white;
}

.badge-dark-done {
  background-color: rgb(35, 35, 35);
}

@keyframes pulse {

  0% { transform: scale(1); }

  50% { transform: scale(1.3); }

  100% { transform: scale(1); }
}

@keyframes small {

  0% { transform: scale(0.7); }

  50% { transform: scale(0.4); }

  100% { transform: scale(0.7); }
}

@keyframes rotate {

  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
