.buttons-container {
  display: flex;
  flex: row;
  justify-content: center;
  margin: 0.6rem;
}

.filter-btn {
  margin: 0.3rem;
  width: 100%;
}

.favor-recipe-container {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex: row;
  height: 7rem;
  margin: 0.9rem;
}

.favor-image-container {
  border-bottom-left-radius: 2%;
  border-top-left-radius: 2%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
  
.text-container {
  margin-top: 0.7rem;
  margin-left: 0.5rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-left: 1.7rem;
  margin-top: 1rem;
}

.icon {
  margin: 0 1rem;
}
