.login-container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  margin-top: 5rem;
}

.login-input {
  border-radius: 100px 100px 100px 100px;
  margin-bottom: 3rem;
  width: 90%;
}

.login-input:focus {
  border-color: rgb(175, 175, 175);
}

.password-input {
  border-radius: 100px 100px 100px 100px;
  margin-bottom: 3rem;
  width: 90%;
}

.login-btn {
  border-radius: 100px 100px 100px 100px;
}
