.login-container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
}

.login-input {
  border-radius: 100px;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  width: 90%;
}

.login-input:focus {
  background-color: white;
}

.logo-github {
  fill: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.password-input {
  border-radius: 100px;
  margin-bottom: 2.2rem;
  width: 90%;
}

.password-input:focus {
  background-color: white;
}

.login-btn {
  border-radius: 100px;
  z-index: 1;
}

.path1-dark {
  fill: rgb(100, 100, 100);
}

.path2-dark {
  fill: rgb(80, 80, 80);
}

.path4-dark {
  fill: rgb(150, 150, 150);
}

.path6-dark {
  fill: rgb(200, 200, 200);
}

.circle-dark {
  fill: rgb(50, 50, 50);
}

.g1-dark {
  fill: rgb(50, 50, 50);
}

.github-dark {
  fill: white;
}