.image-container {
  height: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  padding: 1.25rem;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.name-category {
  display: flex;
  flex-flow: column wrap;
}

.recipe-title {
  margin-bottom: 4px;
}

.icons-container {
  display: flex;
  justify-content: space-evenly;
}

.icon {
  margin: 0 11px;
  cursor: pointer;
}

.heart {
  margin-right: 5px;
}

.modal-text {
  text-align: center;
  font-size: 1.5rem;
}

.instructions-title {
  padding-top: 1rem;
  padding-bottom: 0.3rem;
}

.one {
  padding-top: 0;
}

.instructions {
  font-size: 0.88rem;
  background-color: rgb(241, 236, 236);
  padding: 0.4rem 0.7rem;
}

.ingredient {
  background-color: rgb(241, 236, 236);
  padding: 0;
}

.recommendation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recommendation-card {
  width: 133px;
  height: 150px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
}

.recommendation-image-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommendation-body {
  padding: 0.5rem;
}

.recommendation-subtitle {
  font-size: 0.85rem;
}

.recommendation-title {
  margin-bottom: 5px;
  font-size: 1rem;
}

.start-recipe-container {
  padding: 0 1.25rem;
  display: flex;
  justify-content: center;
}

.start-recipe-btn {
  width: 88%;
  position: fixed;
  bottom: 0;
}
